@page
@model IndexModel
@{
    ViewData["Title"] = "WWWatering";
}

<head>
    <link rel="stylesheet" href="~/css/site.css" />
</head>

<body>
  <div class="container">
    <h1>Plant Watering System</h1>
    <p class="errorMessage">@Model.ErrorInfo</p>
    <div class="sensor">
      <h2>Current Humidity</h2>
      <p id="humidity">@Model.HumdityValueMessage</p>
      <p id="updateTimeInfo">@Model.HumidityLastUpdatedMessage</p>
    </div>
    <div class="control">
      <h2>Water the Plant</h2>
      <form method="post">
        <div class="slider-container">
          <input type="range" min="1" max="99" value="1" name="SliderValue" id="slider" />
          <div>
            <span>Watering time: </span><span id="sliderValue">1</span><span>s (estimated <span id="sliderValueMl">@(1 * Model.WaterVolumePerSecond)</span> ml)</span>
          </div>
        </div>
        <input type="submit" value="Water" asp-page-handler="ButtonClick" />
      </form>
      @if (Model.PostRequestWateringMessage != null)
      {
             string classType = Model.PostRequestWateringMessage.Contains("exception") ? "errorMessage" : "successMessage";
             <p class=@classType>@Model.PostRequestWateringMessage</p>
       }
    </div>
    <div class="history">
      <h2>Last Watered</h2>
      <p id="lastWatering">@Model.LastWateringMessage</p>
    </div>
  </div>
</body>

@section Scripts
    {
        <script>
            document.getElementById("slider").addEventListener("input", function (event) {
                document.getElementById("sliderValue").textContent = event.target.value;
                document.getElementById("sliderValueMl").textContent = event.target.value * @Model.WaterVolumePerSecond;

            });
        </script>
}